---
layout: research
title: Fubo Han - Publication
description: Fubo Han's Publication
category: portfolio
---

<p class="fancy">
  Here are some of the products I worked on. 
  Interest?
</p>


{% for publication in site.data.publication %}
  <section>
    <a href="{{ publication.url }}">
      <img class="inline pull-right" src="{{ publication.image }}"
           alt="{{ publication.name }} Screenshot" width="280">
    </a>
    <h2><a href="{{ publication.url }}">{{ publication.name }}</a></h2>
    <h3>{{ publication.oneliner }}</h3>
    <p><strong>My role:</strong> {{ publication.role }}</p>
    <p>{{ publication.description}}</p>
    <p>
      <strong>Technologies:</strong> {{ publication.technologies | join: ", " }}
    </p>
	<p>
	{%if publication.paper!=""%}<a href="{{ publication.paper }}">[paper]</a> &nbsp;{%endif%} {%if publication.language == "cn"%}[in chinese]{%endif%}
	{%if publication.code!=""%}<a href="{{ publication.code }}">[code]</a> &nbsp;{%endif%}
	{%if publication.video!=""%}<a href="{{ publication.video }}">[video]</a> &nbsp;{%endif%}
	
	</p>
  </section>
  <div class="spacer"></div>
{% endfor %}