---
layout: default
---

<div class="inner">

  <h1>Research</h1>

  <p class="fancy">
    I graduated in 2014 (B.S.) from <a href="http://www.en.sdu.edu.cn/">Shandong University</a> and started my master life here in  <a href="http://irc.cs.sdu.edu.cn/">Interdisciplinary Research Center (IRC)</a>
	

  <ul class="portfolio-nav">
    <li {% if page.url == '/research/index.html' %}class="active"{% endif %}>
      <a href="/research/">Publication</a>
    </li><li {% if page.url == '/research/code.html' %}class="active"{% endif %}>
      <a href="/research/code.html">Code</a>
    <!--</li><li {% if page.url == '/portfolio/courses.html' %}class="active"{% endif %}>
      <a href="/portfolio/courses.html">Courses</a>
    </li>-->
  </ul>

  {{ content }}

  <div class="fancy center convinced">
    <!-- <a class="btn btn-lg" href="http://freelancebooking.pro/en/users/ssaunier">Book me</a>

    <br /><br /> -->

    Interested? Here's my <a href="https://github.com/fubo1106">Github</a>
    let's get in touch.
  </div>

</div>
